@import url("https://fonts.googleapis.com/css?family=Roboto");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: grid;
  font-size: 20px;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: black;
  position: sticky;
  top:100%;
}

.footer > * {
  flex: 1 100%;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.footer li {
  line-height: 2em;
}

.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}


@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

}
